<h1>{{user.name}}'s Profile</h1>
<div style='background-image: url({{user.picture}})' class='avatar'>
</div>

<<<<<<< HEAD
=======
{{! req.user._id: }}
{{req.user}}
{{!-- {{user._id}} --}}

>>>>>>> 7b3ead676c6118149babed3ff4c7443da54d501d
<span><strong>Name</strong>: {{user.name}}</span>
<br />
<span><strong>Email</strong>: {{user.email}}</span>
<br />
<p><strong>Description</strong>: {{user.description}}</p>
<span>
  {{#if user.isArtist}}

    <strong>You have an Artist account</strong>
    <br />
    People who follow you:

    <ul>
      <li>Example follower 1</li>
      <li>Example follower 2</li>
      <li>Example follower 3</li>
    </ul>
    <form
      method='POST'
      action='/profile/upload-file'
      enctype='multipart/form-data'
    >
      <label for='input-attachment'>Music file to upload:</label>
      <input id='input-attachment' type='file' name='audio' required />

      <button>Upload your music!</button>
    </form>
  {{else}}
    <strong>You have a DEFAULT account</strong>
    <br />
    Artists you follow:

    <ul>
      <li>Example artist 1</li>
      <li>Example artist 2</li>
      <li>Example artist 3</li>
    </ul>
  {{/if}}
</span>

{{!-- {{#if ownProfile}} --}}
<a href='#'>Change Password</a>
<br />
<a href='/profile/edit'>Edit My Profile</a>
{{!-- {{/if}} --}}