<h1>{{user.name}}'s Profile</h1>
{{#if user.picture}}
  <div style='background-image: url({{user.picture}})' class='avatar'>
  </div>
{{/if}}
{{! req.user._id: }}
{{req.user}}
{{!-- {{user._id}} --}}

<span><strong>Name</strong>: {{user.name}}</span>
<br />
<span><strong>Email</strong>: {{user.email}}</span>
<br />
<p><strong>Description</strong>: {{user.description}}</p>
<span>
  {{#if audio}}
    <figure>
      <figcaption>Listen to the latest songs from
        {{user.name}}
        </br>
<div>
        {{#each audio}}

          Song title: {{songtitle}}
          </figcaption> 
          <div><audio controls src='{{audio}}'>
          Your browser does not support the
          <code>audio</code>
          element.
        </audio></div>
</div>
      {{/each}}
    </figure>
    
  {{/if}}
  {{#if user.isArtist}}

    <strong>You have an Artist account</strong>
    <br />
    People who follow you:

  <ul>
    {{#each followers}} 
    <li>
       <p>{{name}}</p>
    </li>
    {{/each}}
  </ul>
   
    <form
      method='POST'
      action='/profile/upload-audio'
      enctype='multipart/form-data'
    >
      <label for='song-title'>Song title</label>
      <input
        id='song-title'
        type='text'
        name='songtitle'
        placeholder='Title of your song'
        required
      />
      <label for='input-attachment'>Music file to upload:</label>
      <input id='input-attachment' type='file' name='audio' required />

      <button>Upload your music!</button>
    </form>
  {{else}}

    <strong>You have a DEFAULT account</strong>
    <br />
    Artists you follow:

    <ul> 
      {{#each follow}}
      <li>
          <p>{{name}}</p>
      </li>
      {{/each}}
    </ul>
  {{/if}}
</span>

<div>
  List all events from this profile
  {{#each events}}
  {{> event}}
  {{title}}
  {{/each}}
</div>

<hr />

{{!-- {{#if ownProfile}} --}}
<a href='#'>Change Password</a>
<br />
<a href='/profile/edit'>Edit My Profile</a>
{{!-- {{/if}} --}}