<article class='event-item'>

  {{!-- {{#if image}} --}}
  {{!-- <figure>
    <img src='{{image}}' alt='{{title}}' />
  </figure> --}}
  {{!-- {{/if}} --}}
  <section>
    <a href='/event/{{_id}}'>
      <h3>{{title}}</h3>
    </a>
    <p>When
      {{date date}}
    </p>
    <p>Where Venue {{venue}}</p>
    <p>
      {{#each location}}
        City:
        {{city}}
        State/Province:
        {{state}}
        Country:
        {{country}}
      {{/each}}
    </p>

    <br />
    <a href='/event/edit'>Edit</a>
    {{!-- <span>{{{date publishingDate}}}</span> --}}
  </section>
  <div><form method='POST' action='/event/delete'>
      <input type='hidden' name='eventId' value='{{_id}}' />
      <button>Delete this event</button>
    </form></div>
</article>