<article class='event-item'>

  {{!-- {{#if image}} --}}
  {{!-- <figure>
    <img src='{{image}}' alt='{{title}}' />
  </figure> --}}
  {{!-- {{/if}} --}}
  <section>
    <a href='/event/{{_id}}'>
      <h3>{{title}}</h3>
    </a>
    <p>When
      {{date date}}
    </p>
    <p>Where Venue {{venue}}</p>
    <p>
      {{#each location}}
        City:
        {{city}}
        State/Province:
        {{state}}
        Country:
        {{country}}
      {{/each}}
    </p>

    <br />
    <a href='{{url}}' target='_blank'>Edit</a>
    {{!-- <span>{{{date publishingDate}}}</span> --}}
  </section>
</article>