<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1, shrink-to-fit=no'
    />
    <title>{{title}}</title>
    {{!-- Remix Icons --}}
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- CSS only -->
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU'
      crossorigin='anonymous'
    />
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    <nav>
      <i class="ri-music-line"></i> <a href='/'>Home</a>
      <i class="ri-user-search-line"></i> <a href='/artist/search'>Search Artists</a>
      {{#if user}}
        <span
          style='background-image: url({{user.picture}})'
          class='avatar-mini'
        ></span>
        <a href='/profile'>{{user.name}}'s Profile</a>
        <i class="ri-calendar-line"></i> <a href='/event/'>My Events</a>
        <i class="ri-shut-down-line"></i> <form action='/authentication/sign-out' method='POST'>
          <button>Sign Out</button>
        </form>
      {{else}}
        <i class="ri-login-box-line"></i> <a href='/authentication/sign-in'>Sign In</a>
        <i class="ri-user-add-line"></i> <a href='/authentication/sign-up'>Sign Up</a>
      {{/if}}
    </nav>
    {{{body}}}
    <div id="last-content"></div>
</div>
   <footer id="footer">
     IronMusic 2021
   </footer>
 </div>
    <!-- JavaScript Bundle with Popper -->
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js'
      integrity='sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ'
      crossorigin='anonymous'
    ></script>
    <script src='/scripts/script.js'></script>
    {{!-- <script src='ticketmaster-2.0.4.js'></script> --}}
  </body>
</html>