<h1>These are the artist event search results</h1>

<div class='result-list'>
  {{#each result.items}}
    <p><b>Event name:</b> {{this.name}}</p> 
    <p><b>Promoter name:</b> {{this.promoter.name}}</p>
    <p><b>Timezone:</b> {{this.dates.timezone}}</p>
    <p><b>Start date and time:</b> {{this.dates.start.localDate}}, {{this.dates.start.localTime}}</p>
    <img src="{{this.images.[0].url}}" alt="">
    </br>
  {{/each}}
</div>