<h1>Artist public profile</h1>

<p>Name: {{artist.name}}</p>
<p>Description: {{artist.description}}</p>
{{#if audio}}
  {{#each audio}}
    <figure>
      <figcaption>Listen to their latest song:
        <br />
        Song title:
        {{this.songtitle}}
      </figcaption>
      <audio controls src='{{this.audio}}'>
        Your browser does not support the
        <code>audio</code>
        element.
      </audio>
    </figure>
  {{/each}}
{{else}}
  <h4>No songs have been uploaded yet</h4>
{{/if}}

<p>Upcoming events: <i>placeholder</i></p>
<p>Image gallery: <i>placeholder</i></p>
{{#if artist.picture}}
  <p>Artist picture <img src='{{artist.picture}}' alt='Band picture' /></p>
{{/if}}
{{#if user}}

  {{#if follow}}
    <form action='/artist/unfollow/{{artist.id}}' method='POST'>
      <button type='submit'>Unfollow</button>
    </form>
  {{else}}
    <form action='/artist/follow/{{artist.id}}' method='POST'>
      <button type='submit'>Follow</button>
    </form>
  {{/if}}
{{/if}}