<h1>{{artist.name}}</h1>
<h3>This band has {{followerNumber}} followers </h3>
<p>Description: {{artist.description}}</p>
{{#if audio}}
  {{#each audio}}
    <figure>
      <figcaption>Listen to their latest songs:
        <br />
        Song title:
        {{this.songtitle}}
      </figcaption>
      <audio controls src='{{this.audio}}'>
        Your browser does not support the
        <code>audio</code>
        element.
      </audio>
    </figure>
  {{/each}}
{{else}}
  <h4>No songs have been uploaded yet</h4>
{{/if}}

<p>Upcoming events:</p>
{{#if events}}
{{#each events}}
  <section>
    <a href='/event/{{_id}}'>
      <h3>{{title}}</h3>
    </a>
    <p>When
      {{date date}}
    </p>
    <p>Where Venue {{venue}}</p>
    <p>
      {{#each location}}
        City:
        {{city}}
        State/Province:
        {{state}}
        Country:
        {{country}}
      {{/each}}
    </p>
{{/each}}
{{else}}
<em>{{artist.name}} doesn't have any events</em>
{{/if}}

{{#if user}}

  {{#if follow}}
    <form action='/artist/unfollow/{{artist.id}}' method='POST'>
      <button type='submit'>Unfollow</button>
    </form>
  {{else}}
    <form action='/artist/follow/{{artist.id}}' method='POST'>
      <button type='submit'>Follow</button>
    </form>
  {{/if}}
{{/if}}