<style>
  #map {
    width: 100%;
    height: 20em;
  }
</style>



<h1>{{event.title}}</h1>
<p>{{event.date}}</p>

<div>
  <h3>Location</h3>
  <p>Venue: {{event.venue}}</p>
  {{#each event.location}}
    City:
    {{city}}<br />
    State/Province:
    {{state}}<br />
    Country:
    {{country}}
    {{!-- Lat{{coordinates.[0]}} Long {{coordinates.[1]}}  --}}
  {{/each}}
</div>

<div>
  <h3>Description</h3>
  {{event.description}}
</div>

{{!-- HERE
{{ event.location.[0].coordinates.[0] }}
{{ event.location.[0].coordinates.[1] }} --}}

<div id='map'>
</div>

<script>

function startMap() {
  const eventCoordinates = {
    lat: {{ event.location.[0].coordinates.[1] }},
    lng: {{ event.location.[0].coordinates.[0] }}
  };
  console.log(eventCoordinates);
  
  const map = new google.maps.Map(
    document.getElementById('map'),
    {
      zoom: 12,
      center: eventCoordinates
    });

  const marker = new google.maps.Marker(
  {
    position: eventCoordinates,
    map: map,
    title: "{{ event.venue }}"
    });   
}

// startMap();

</script>










<script
  src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCyRTqXpFmBnF-VF4P1qRJqMCATqs4dKDg&callback=startMap'
></script>

<div>
  <img src='{{event.images}}' alt='Photos of {{event.title}}' />
</div>